body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

input {
  width: 250px;
  padding: 10px 20px;
  font-size: 25px;
  margin: 10px;
}

.title {
  font-size: 150px;
  color: #fff;
}

.link {
  padding: 0px 10px;
  color: #fff;
}

.btn {
  color: #fff;
  border: solid 3px #fff;
  font-size: 30px;
  padding: 15px 20px;
  cursor: pointer;
}

.form-btn {
  margin: 10px;
  width: 200px;
  padding: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.form-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(75, 228, 255);
  border-color: rgb(75, 228, 255);
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(75, 228, 255);
  border-color: rgb(75, 228, 255);
}

.home-screen {
  background: url('../images/background.jpg') no-repeat;
}

.login-screen {
  background: url('../images/login_background.jpg') no-repeat;
}

.signup-screen {
  background: url('../images/signup_background.jpg') no-repeat;
}

.container{
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}